<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73058638050-jv13e7inii0805st774ljqall1dpm1dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73058638050-jv13e7inii0805st774ljqall1dpm1dn</string>
	<key>API_KEY</key>
	<string>AIzaSyDTu-gHph6IaQmzbsioCKX_UCrTo5vCyNE</string>
	<key>GCM_SENDER_ID</key>
	<string>73058638050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeRent</string>
	<key>PROJECT_ID</key>
	<string>home-rent-6b187</string>
	<key>STORAGE_BUCKET</key>
	<string>home-rent-6b187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73058638050:ios:44e7d12195bb615b7626bb</string>
</dict>
</plist>